@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,200;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
}

nav .logo {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover{
    background: salmon;
}

nav .menu-btn i{
    color: white;
    cursor: pointer;
    display: none;
}
@media (max-width: 700px) {}
    nav .menu-btn i{
        display: block;
    }

    nav ul{
        position: fixed;
        top: 80px;
        left: 100px;
        background-color: blueviolet;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    nav ul.open{
        left:0;
    }

    nav ul li{
        width: 100%;
        margin: 50px 0;
    }

    nav ul li a {
        font-size: 23px;
    }

    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: salmon;
}
